/*Start login box*/
.login-box {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

.login-box .form input{
    margin: 10px 0 10px 0;
    height: 40px;
    background: #dedede;
    border: 0;
    border-radius: 5px;
}

.login-box .form .btn{
    background: #4786e8;
    color: #FFF;
}


/*End login box*/

/*Start login box*/
/*End login box*/

/*Start login box*/
/*End login box*/

/*Start login box*/
/*End login box*/

/*Start login box*/
/*End login box*/

/*Start login box*/
/*End login box*/

/*Start login box*/
/*End login box*/

